<p id="notice"><%= notice %></p>

<p>
  <strong>Synchronization:</strong>
  <%= @field.synchronization_id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @field.name %>
</p>

<p>
  <strong>Platform:</strong>
  <%= @field.platform %>
</p>

<%= link_to 'Edit', edit_field_path(@field) %> |
<%= link_to 'Back', fields_path %>
